Repository Synixe/Documents, changes with the labels that .github/labeler.yml gives for each.
All labels: area/constitution, area/rules, area/committees, area/personnel, area/guides, area/ci, type/image, type/markdown

Update to meet the changes made by #45
  guides/players/_sidebar.md
  guides/players/terminology.md
Labels: area/guides, type/markdown

Controls is now a child of Mechanics
  guides/players/radios.md
Labels: area/guides, type/markdown

Use correct name
  guides/players/_sidebar.md
  guides/players/titan-at.md
Labels: area/guides, type/markdown

Update sidebar.md
  guides/players/_sidebar.md
  guides/players/titan-compact.md
Labels: area/guides, type/markdown

rewording
  guides/players/titan-compact.md
Labels: area/guides, type/markdown

description
  guides/players/titan-compact.md
Labels: area/guides, type/markdown

change attack profile order
  guides/players/titan-compact.md
Labels: area/guides, type/markdown

Fixed pages not directing
  guides/roles/team-leader.md
Labels: area/guides, type/markdown

typo
  guides/players/titan-compact.md
Labels: area/guides, type/markdown

Fixed pages not directing
  guides/roles/team-leader.md
Labels: area/guides, type/markdown

Titan grammar changes (#58)
  guides/players/_sidebar.md
  guides/players/titan-compact.md
Labels: area/guides, type/markdown

Controls is now a child of Mechanics (#57)
  guides/players/radios.md
Labels: area/guides, type/markdown

Gabe has completed Fixed-wing Pilot
  guides/roles/readme.md
Labels: area/guides, type/markdown

Driving - Gabe & BEAST
  guides/roles/readme.md
Labels: area/guides, type/markdown

Gabe has completed Fixed-wing Pilot
  guides/roles/readme.md
Labels: area/guides, type/markdown

Driving - Gabe & BEAST
  guides/roles/readme.md
Labels: area/guides, type/markdown

fix roles
  guides/roles/readme.md
Labels: area/guides, type/markdown

fix roles
  guides/roles/readme.md
Labels: area/guides, type/markdown

fix sidebar
  guides/players/_sidebar.md
Labels: area/guides, type/markdown

Update readme.md
  guides/roles/readme.md
Labels: area/guides, type/markdown

nameless, Andrew, elGato (#63)
  guides/roles/readme.md
Labels: area/guides, type/markdown

add arsey to fixed-wing
  guides/roles/readme.md
Labels: area/guides, type/markdown

Roles - Add arsey to fixed-wing (#64)
  guides/roles/readme.md
Labels: area/guides, type/markdown

Added missing rules.md to home page
  _sidebar.md
Labels: type/markdown

Added missing rules.md to home page (#65)
  _sidebar.md
Labels: type/markdown

Update readme.md
  guides/roles/readme.md
Labels: area/guides, type/markdown

Andrew for TL (#66)
  guides/roles/readme.md
Labels: area/guides, type/markdown

medical rewrite
  guides/players/_sidebar.md
  guides/players/medical.md
Labels: area/guides, type/markdown

Apply suggestions from code review
  guides/players/medical.md
Labels: area/guides, type/markdown

Medical Rewrite (#67)
  guides/players/_sidebar.md
  guides/players/medical.md
Labels: area/guides, type/markdown

Update README.md
  README.md
Labels: type/markdown

Update README.md (#68)
  README.md
Labels: type/markdown

remove useless information, add useful information
  guides/players/_sidebar.md
  guides/players/img/medical_menu.png
  guides/players/medical.md
Labels: area/guides, type/image, type/markdown

reformatting, grammar fixes
  guides/players/medical.md
Labels: area/guides, type/markdown

Update guides/players/medical.md
  guides/players/medical.md
Labels: area/guides, type/markdown

Update guides/players/medical.md
  guides/players/medical.md
Labels: area/guides, type/markdown

Rework medical page (#69)
  guides/players/_sidebar.md
  guides/players/img/medical_menu.png
  guides/players/medical.md
Labels: area/guides, type/image, type/markdown

[ImgBot] Optimize images
  guides/players/img/medical_menu.png
Labels: area/guides, type/image

[ImgBot] Optimize images
  guides/players/img/medical_menu.png
Labels: area/guides, type/image

Update constitution.md
  constitution.md
Labels: area/constitution, type/markdown

.github/labeler.yml:

area/constitution: constitution.md
area/rules: rules.md
area/committees: committees/**/*
area/personnel: index.html
area/guides: guides/**/*
area/ci: .github/**/*

type/image: ./**/*.png
type/markdown: ./**/*.md
