Repository Synixe/Documents, pull requests merged in 2019-11, with the labels that each got.

#35 Remove Gabe as Documentation head
  README.md
Labels: area/personel, status/approved

#34 Remove Echird as mod review head
  README.md
Labels: area/personel, status/approved

#36 Revert "Update README.md (#34)"
  README.md
Labels: area/committees, grammatical

#38 Fixed wing guide
  _sidebar.md
  guides/roles/fixed-wing.md
  guides/roles/img/bomb_crosshair.png
  guides/roles/img/bomb_hud.png
  guides/roles/img/hellfire_lock.png
  guides/roles/img/hellfire_nolock.png
  guides/roles/img/hud.png
  guides/roles/img/ir_available.png
  guides/roles/img/ir_locking.png
  guides/roles/img/sensor.png
  guides/roles/img/unguided_estimate.png
  guides/roles/img/unguided_obstructed.png
Labels: area/guides, type/image, type/markdown

#37 Various Spelling and Clarity
  committees/modreview.md
  constitution.md
  rules.md
Labels: area/committees, area/constitution, area/rules, grammatical

#44 Fixed-wing correction
  guides/roles/fixed-wing.md
Labels: area/guides

#45 Reorganize
  _sidebar.md
  guides/makers/README.md
  guides/makers/_sidebar.md
  guides/players/README.md
  guides/players/_sidebar.md
  guides/roles/README.md
  guides/roles/_sidebar.md
  guides/roles/driver.md
  guides/roles/team-leader.md
  guides/tactics/README.md
  guides/tactics/_sidebar.md
  guides/tactics/convoy.md
  index.html
Labels: area/guides, area/personel

#49 Fix case for nix systems
  guides/makers/readme.md
  guides/players/readme.md
  guides/roles/readme.md
  guides/tactics/readme.md
Labels: area/guides

#46 Titan AT
  guides/players/_sidebar.md
  guides/players/img/titan_locked.png
  guides/players/img/titan_locking.png
  guides/players/titan-at.md
Labels: area/guides

#53 Labeler: CI & Type
  .github/labeler.yml
Labels: area/ci

#56 Auto merge imgbot PRs
  .github/workflows/imgbot.yml
Labels: area/ci

#59 Fixed pages not directing
  guides/roles/team-leader.md
Labels: area/guides

#58 Titan grammar changes
  guides/players/_sidebar.md
  guides/players/titan-compact.md
Labels: area/guides, grammatical

#57 Controls is now a child of Mechanics
  guides/players/radios.md
Labels: area/guides, grammatical

#60 Gabe has completed Fixed-wing Pilot
  guides/roles/readme.md
Labels: area/guides

#61 Driving - Gabe & BEAST
  guides/roles/readme.md
Labels: area/guides

#62 fix roles
  guides/roles/readme.md
Labels: area/guides

#63 nameless, Andrew, elGato
  guides/roles/readme.md
Labels: area/guides

#64 Roles - Add arsey to fixed-wing
  guides/roles/readme.md
Labels: area/guides, type/markdown

#65 Added missing rules.md to home page
  _sidebar.md
Labels: area/rules
