Repository Synixe/Documents, pull requests merged in 2019-09, with the labels that each got.

#20 Tables are now aligned
  guides/players/radios.md
Labels: area/guides, type/markdown

#23 Treasury
  constitution.md
Labels: area/constitution

#17 Flashy Moves Nomination
  README.md
Labels: area/personel, status/approved

#27 Gabe - Documentation Head
  README.md
Labels: area/personel, status/approved

#25 Changed "Pressing" to "Holding"
  guides/players/radios.md
Labels: area/guides, type/markdown

#24 Fix naming of images and md file
  _sidebar.md
  guides/tactics/img/10_close_up.jpg
  guides/tactics/img/rule_of_3.png
  guides/tactics/power_of_10.md
  guides/tactics/rule_of_3.md
Labels: area/guides, type/markdown

#29 Fix section header
  constitution.md
Labels: area/constitution, grammatical

#31 Lint radios.md
  guides/players/radios.md
Labels: area/guides, grammatical, type/markdown

#30 Add treasurer position
  README.md
Labels: area/personel, status/approved
