Repository Synixe/Documents, pull requests merged in 2019-08, with the labels that each got.

#16 Amend Rule 4 - External communication platforms
  rules.md
Labels: area/rules, status/approved

#18 Pronunciation
  constitution.md
Labels: area/constitution

#19 Grammar changes
  committees/documentation.md
  committees/modreview.md
  guides/players/img/343_handle_detached.png
  guides/players/radios.md
  rules.md
  style.md
Labels: area/committees, area/guides
